@font-face {
    src: url(../fonts/santacalra_black.ttf);
    font-family: santacarla_black;
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 

.logo {
    cursor: pointer;
    font-size: 40px;
    font-family: santacarla_black;
    position: relative;
    margin-right: 15px;
    &::after {
        content: 'BEST FOR BRAVEST';
        font-size: 10px;
        position: absolute;
        left: -4px;
        bottom: -4px;
    }
    z-index: 15!important;
    &-disabled {
        display: none;
    }
}

.cross {
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 25px;
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
    border-radius: 10px;
    z-index: 1001;
    &::before, &::after {
        position: absolute;
        left: 50%;
        content: '';
        height: 40px;
        width: 7px;
        background-color: black;
        border-radius: 20px;
    }
    &::before {
        transform: translate(-50%) rotate(45deg);
    }
    &::after {
        transform: translate(-50%) rotate(-45deg);
    }
}

$color-1: #1C1C1C !default;
$color-2: #89CFF0 !default;
$color-3: #1C1C1C !default;
$color-4: #89CFF0 !default;
$color-5: white !default;

$container-rotate-timing:           1600ms !default;
$spinner-fill-unfill-rotate-timing: 4800ms !default;


$spinner-line-count: 4;

$spinner-left-spin:  $spinner-fill-unfill-rotate-timing / $spinner-line-count;
$spinner-right-spin: $spinner-fill-unfill-rotate-timing / $spinner-line-count;


.loader {
    height: 45px;
    margin: 0 auto;
    width: 45px;
    animation: container-rotate #{$container-rotate-timing} linear infinite;
    &-line {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        &-white {
            border-color: $color-5!important;
        }
        &--1 {
            border-color: $color-1;
            animation: fill-unfill-rotate #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-1-fade-in-out #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        }
        &--2 {
            border-color: $color-2;
            animation: fill-unfill-rotate #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-2-fade-in-out #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        }
        &--3 {
            border-color: $color-3;
            animation: fill-unfill-rotate #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-3-fade-in-out #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        }
        &--4 {
            border-color: $color-4;
            animation: fill-unfill-rotate #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both, line-4-fade-in-out #{$spinner-fill-unfill-rotate-timing} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
        }
        &-cog {
            display: inline-block;
            position: relative;
            width: 50%;
            height: 100%;
            overflow: hidden;
            border-color: inherit;
            &-inner {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 200%;
                box-sizing: border-box;
                height: 100%;
                border-width: 3px;
                border-style: solid;
                border-color: inherit;
                border-bottom-color: transparent;
                border-radius: 50%;
                animation: none;
                &--left {
                    border-right-color: transparent;
                    transform: rotate(129deg);
                    animation: left-spin #{$spinner-left-spin} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                }
                &--right {
                    left: -100%;
                    border-left-color: transparent;
                    transform: rotate(-129deg);
                    animation: right-spin #{$spinner-right-spin} cubic-bezier(0.4, 0, 0.2, 1) infinite both;
                }
                &--center {
                    width: 1000%;
                    left: -450%;
                }
            }
        }
        &-ticker {
            position: absolute;
            box-sizing: border-box;
            top: 0;
            left: 45%;
            width: 10%;
            height: 100%;
            overflow: hidden;
            border-color: inherit;
        }
    }
}

@keyframes container-rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

@keyframes left-spin {
    0% {
        transform: rotate(130deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(130deg);
    }
}
@keyframes right-spin {
    0% {
        transform: rotate(-130deg);
    }
    50% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-130deg);
    }
}

@keyframes line-1-fade-in-out{
    0%{opacity:1}
    25%{opacity:1}
    26%{opacity:0}
    89%{opacity:0}
    90%{opacity:1}
    to{opacity:1}
}


@keyframes line-2-fade-in-out{
    0%{opacity:0}
    15%{opacity:0}
    25%{opacity:1}
    50%{opacity:1}
    51%{opacity:0}
}

@keyframes line-3-fade-in-out{
    0%{opacity:0}
    40%{opacity:0}
    50%{opacity:1}
    75%{opacity:1}
    76%{opacity:0}
}

@keyframes line-4-fade-in-out{
    0%{opacity:0}
    65%{opacity:0}
    75%{opacity:1}
    90%{opacity:1}
    to{opacity:0}
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(black, 0.7);
    z-index: 1000;
    transition: all 0.2s ease-in-out;
    &-active {
        opacity: 1;
        pointer-events: all;
    }
    &_content {
        &::-webkit-scrollbar {
            display: none;
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        padding: 90px 50px 50px 50px;
        background-color: #D9D9D9;
        border-radius: 25px;
        min-width: 200px;
        max-width: 90%;
        max-height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}